.dashboard {
  background-color: #f4f6f9;
  width: 100%;
  height: calc(100vh - 50px);

  &__wrapper {
    padding: 32px 48px;
    display: flex;
    flex-direction: column;
  }

  .top {
    .widget-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
    }
  }

  .middle {
    padding: 28px 0;
  }
}

// Large laptop responsive (15.6 inches)
@media only screen and (max-width: 1440px) {
  .dashboard {
    .top {
      .widget-list {
        // column-gap: 6em;
      }
    }
  }
}
