.dashboard {
  background-image: linear-gradient(
    to right,
    #e5f6fd,
    #e5f6fd,
    #e5f6fd,
    #e5f6fd,
    #e5f6fd
  );
  width: 100%;
  height: calc(100vh - 50px);

  &__wrapper {
    padding: 32px 48px;
    display: flex;
    flex-direction: column;
  }

  .top {
    width: 100%;

    &__wrapper {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 1em;
    }
  }

  .middle {
    padding: 28px 0;
  }
}
