:root {
  /* Google font */
  --roboto-font-family: "Roboto", sans-serif;
  --roboto-font-style: normal;
  --roboto-thin-weight: 100;
  --roboto-light-weight: 300;
  --roboto-regular-weight: 400;
  --roboto-medium-weight: 500;
  --roboto-bold-weight: 700;
  --roboto-black-weight: 900;

  /* Color */
  --text-dark-1: #1f2532;
  --text-white-1: #ffffff;
  --text-dark-header: #313131;
  --text-dark-sub-header: #222222;
  --text-dark-body: #555555;
  --text-blue-1: #006298;
  --text-blue-2: #286ba6;
  --text-blue-3: #002c77;
  --text-blue-4: #005eff;
  --text-green-1: #008000;

  /* Background */
  --main-nav-bg: #ffffff;
  --sub-nav-bg: #004e79;
  --footer-bg: #006298;
  --copyright-bg: #006298;
  --bg-white: #ffffff;
  --bg-white-1: #f5f5f5;
  --bg-blue-1: #006da8;
  --bg-blue-2: #003755;
  --bg-blue-3: #ecf5ff;
  --bg-blue-4: #0044ff;
  --bg-blue-5: #e1f2fd86;
  --bg-blue-6: #002c77;
  --bg-blue-7: #ecf5ff;
  --bg-blue-8: #dbe4ee;
  --bg-gray-1: #f7f7f7;
  --bg-gray-2: #e9ecef;
  --bg-gray-3: #dcdfe2;
  --bg-gray-4: #fafafa;

  /* Button */
  --btn-blue-1: #3498db;
  --btn-blue-2: #005b97;

  /* Border */
  --border-radius-1: 6px;
  --border-radius-2: 12px;
  --border-blue-1: #006298;
  --border-blue-2: #286ba6;
  --border-blue-3: #002c77;
  --border-black: #000;
  --border-gray-1: #dee2e6;
  --border-gray-2: #727272;

  /* Hover */
  --btn-light-hover-1: #dde2e9;
  --btn-light-hover-2: #f7f7f7;
  --btn-blue-hover-1: #297fb8;
  --btn-blue-hover-2: #004e83;

  /* Box shadow */
  --box-shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --box-shadow-2: 2px 4px 12px #00000014;
  --box-shadow-3: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --box-shadow-4: rgba(0, 0, 0, 0.07) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --box-shadow-5: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-6: rgba(0, 0, 0, 0.08) 0px 3px 3px 0px,
    rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
}

* {
  font-family: var(--roboto-font-family);
  font-style: var(--roboto-font-style);
}

/* Pre-defined CSS classes: Start */
/* Color */
.text-dark-1 {
  color: var(--text-dark-1);
}

.text-dark-header {
  color: var(--text-dark-header);
}

.text-secondary-1 {
  color: var(--text-dark-body);
}

.text-blue-1 {
  color: var(--text-blue-1);
}

.text-blue-2 {
  color: var(--text-blue-2);
}

.text-blue-3 {
  color: var(--text-blue-3);
}

.text-blue-4 {
  color: var(--text-blue-4);
}

/* Font (weight, size) */
.fw-reg {
  font-weight: var(--roboto-regular-weight);
}

.fw-med {
  font-weight: var(--roboto-medium-weight);
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

/* Background */
.bg-subnav {
  background-color: var(--sub-nav-bg);
}

.bg-footer {
  background-color: var(--footer-bg);
}

.bg-white-1 {
  background-color: var(--bg-white-1);
}

.bg-blue-1 {
  background-color: var(--bg-blue-1);
}

.bg-blue-2 {
  background-color: var(--bg-blue-2);
}

.bg-blue-3 {
  background-color: var(--bg-blue-3);
}

.bg-blue-4 {
  background-color: var(--bg-blue-4);
}

.bg-blue-5 {
  background-color: var(--bg-blue-5);
}

.bg-blue-6 {
  background-color: var(--bg-blue-6);
}

.bg-gray-1 {
  background-color: var(--bg-gray-1);
}

.bg-gray-2 {
  background-color: var(--bg-gray-2);
}

.bg-gray-3 {
  background-color: var(--bg-gray-3);
}

.bg-gray-4 {
  background-color: var(--bg-gray-4);
}

/* Border */
.border-radius-1 {
  border-radius: 6px;
}

.border-radius-2 {
  border-radius: 12px;
}

/* Box shadow */
.box-shadow-1 {
  box-shadow: var(--box-shadow-1);
}

.box-shadow-2 {
  box-shadow: var(--box-shadow-2);
}

.box-shadow-3 {
  box-shadow: var(--box-shadow-3);
}

.box-shadow-4 {
  box-shadow: var(--box-shadow-4);
}

.box-shadow-5 {
  box-shadow: var(--box-shadow-5);
}

.box-shadow-6 {
  box-shadow: var(--box-shadow-6);
}

/* Hidden */
.hidden {
  display: none;
}

/* Visible */
.visible {
  display: block;
}
/* Pre-defined CSS classes: End */

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

/* CUSTOM SPACING */
/* Margin-top */
.mt-6 {
  margin-top: 4rem;
}

.mt-7 {
  margin-top: 5rem;
}

.ms-6 {
  margin-left: 4rem;
}

.ms-7 {
  margin-left: 5rem;
}

.me-6 {
  margin-right: 4rem;
}

.me-7 {
  margin-left: 5rem;
}

/* Padding lef */
.pe-6 {
  padding-left: 4rem;
}

.pe-7 {
  padding-right: 5rem;
}

.pe-8 {
  padding-right: 6rem;
}

.pe-9 {
  padding-right: 7rem;
}

.pe-10 {
  padding-right: 8rem;
}

.pe-11 {
  padding-right: 9rem;
}

.pe-12 {
  padding-right: 10rem;
}

/* Padding left-right */
.px-6 {
  padding: 0 4rem;
}

.px-7 {
  padding: 0 5rem;
}

.px-8 {
  padding: 0 6rem;
}

.px-9 {
  padding: 0 7rem;
}

.px-10 {
  padding: 0 8rem;
}

.px-11 {
  padding: 0 9rem;
}

.px-12 {
  padding: 0 10rem;
}

.symptom-item {
  width: 950px;
}

.content-container {
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Responsive */
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.grid__column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}

.grid__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

.grid__column-2-4-footer {
  padding: 5px;
  width: 20%;
}

.grid__column-3 {
  padding-left: 5px;
  padding-right: 5px;
  width: 33.3333%;
}

.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3333%;
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.c-0 {
  display: none;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* Mobile */
@media (max-width: 767px) {
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .m-0 {
    display: none;
  }

  .md-1,
  .md-2,
  .md-3,
  .md-4,
  .md-5,
  .md-6,
  .md-7,
  .md-8,
  .md-9,
  .md-10,
  .md-11,
  .md-12 {
    display: block;
  }

  .md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .m-o-1 {
    margin-left: 8.33333%;
  }

  .m-o-2 {
    margin-left: 16.66667%;
  }

  .m-o-3 {
    margin-left: 25%;
  }

  .m-o-4 {
    margin-left: 33.33333%;
  }

  .m-o-5 {
    margin-left: 41.66667%;
  }

  .m-o-6 {
    margin-left: 50%;
  }

  .m-o-7 {
    margin-left: 58.33333%;
  }

  .m-o-8 {
    margin-left: 66.66667%;
  }

  .m-o-9 {
    margin-left: 75%;
  }

  .m-o-10 {
    margin-left: 83.33333%;
  }

  .m-o-11 {
    margin-left: 91.66667%;
  }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .l-0 {
    display: none;
  }

  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }

  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .l-o-1 {
    margin-left: 8.33333%;
  }

  .l-o-2 {
    margin-left: 16.66667%;
  }

  .l-o-3 {
    margin-left: 25%;
  }

  .l-o-4 {
    margin-left: 33.33333%;
  }

  .l-o-5 {
    margin-left: 41.66667%;
  }

  .l-o-6 {
    margin-left: 50%;
  }

  .l-o-7 {
    margin-left: 58.33333%;
  }

  .l-o-8 {
    margin-left: 66.66667%;
  }

  .l-o-9 {
    margin-left: 75%;
  }

  .l-o-10 {
    margin-left: 83.33333%;
  }

  .l-o-11 {
    margin-left: 91.66667%;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }

  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .wide .l-0 {
    display: none;
  }

  .wide .l-1,
  .wide .l-2,
  .wide .l-2-4,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block;
  }

  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .wide .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .wide .l-o-1 {
    margin-left: 8.33333%;
  }

  .wide .l-o-2 {
    margin-left: 16.66667%;
  }

  .wide .l-o-3 {
    margin-left: 25%;
  }

  .wide .l-o-4 {
    margin-left: 33.33333%;
  }

  .wide .l-o-5 {
    margin-left: 41.66667%;
  }

  .wide .l-o-6 {
    margin-left: 50%;
  }

  .wide .l-o-7 {
    margin-left: 58.33333%;
  }

  .wide .l-o-8 {
    margin-left: 66.66667%;
  }

  .wide .l-o-9 {
    margin-left: 75%;
  }

  .wide .l-o-10 {
    margin-left: 83.33333%;
  }

  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}
