@media (min-width: 1200px) {
  .nav-container {
    width: 1190px;
  }
  .content-container {
    width: 1190px;
  }
}

/* Small laptop, large tablet */
@media only screen and (min-width: 992px) {
  .box-select {
    width: 240px;
  }
}

/* Standard tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .box-select {
    width: 180px;
  }

  #main {
    padding-top: 58px;
  }

  .mobile-nav {
    display: block;
    z-index: 1000;
    position: fixed;
    width: 100%;
    background-color: #fff;
  }

  .navbar-slider {
    width: 100%;
    top: 58px;
    height: calc(100% - 58px);
    background-color: #ffffff;
    border-top: 1px solid #d9d9d6;
    position: fixed;
    right: -100%;
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
    touch-action: none;
    display: block;
  }

  .navbar-slider.open {
    right: 0;
  }

  .slider-wrapper ul {
    list-style: none;
  }

  .slider-wrapper ul li {
    border-bottom: 1px solid #becedd;
  }

  .mobile-nav-link {
    padding: 16px 0 16px 24px;
  }

  .hero-mobile {
    margin-top: 58px;
  }
}

/* Mobile phone */
@media only screen and (max-width: 767px) {
  #main {
    padding-top: 72px;
  }

  .navbar-wrapper {
    display: none;
  }

  .mobile-nav {
    display: block;
    z-index: 1000;
    position: fixed;
    width: 100%;
    background-color: #fff;
  }

  .navbar-slider {
    width: 100%;
    top: 58px;
    height: calc(100% - 58px);
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(217, 217, 214);
    position: fixed;
    right: -100%;
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
    touch-action: none;
    display: block;
  }

  .navbar-slider.open {
    right: 0;
  }

  .slider-wrapper ul {
    list-style: none;
  }

  .slider-wrapper ul li {
    border-bottom: 1px solid #becedd;
  }

  .mobile-nav-link {
    padding: 16px 0 16px 24px;
  }

  .hero-mobile {
    margin-top: 58px;
  }

  /* Option section */
  .options {
    background-image: none;
  }

  .options-wrapper {
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    box-shadow: none;
  }

  .opt-section {
    border-radius: 8px;
  }

  .opt-box {
    padding: 24px 10px;
    margin: 0;
  }

  .opt-body {
    padding: 18px 0;
  }

  .opt-btn-link {
    display: block;
    width: 100%;
  }

  .big-opt-box {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .opt-header {
    margin: 0;
    padding: 10px 0;
  }

  .opt-header-text {
    display: none;
  }

  .box-select {
    width: 100%;
    border: none;
    padding: 4px 4px;
  }

  .box-select:first-child {
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .box-select:nth-child(2) {
    border-top: 1px solid rgb(217, 217, 214);
    border-bottom: none;
  }

  .box-select:nth-child(3) {
    border-top: 1px solid rgb(217, 217, 214);
    border-right: none;

    border-bottom: none;
  }

  .box-select:last-child {
    border-top: 1px solid rgb(217, 217, 214);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .box-select-link {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    padding-left: 40px;
  }

  .box-icon {
    font-size: 36px;
  }

  .box-text {
    padding-left: 32px;
    font-size: 20px;
    font-weight: var(--roboto-medium-weight);
  }

  /* About section */
  .about-wrapper {
    flex-direction: column;
  }

  .about-section {
    text-align: center;
  }

  .about-body {
    padding: 32px 8px 0 8px;
    font-size: 16px;
  }

  .about-img {
    padding-top: 40px;
    width: 100%;
  }

  /* System section */
  .syst-body {
    padding: 32px 8px 0 8px;
    font-size: 16px;
  }

  .syst-card-wrapper {
    flex-direction: column;
    padding-top: 40px;
  }

  .syst-card {
    width: 100%;
    user-select: none;
    box-shadow: none;
  }

  .syst-card:not(:last-child) {
    margin-bottom: 20px;
  }

  .card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* Specialty section */
  .splty-items-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
    gap: 16px;
  }

  .splty-items-container {
    padding-top: 32px;
  }

  .splty-items-wrapper:nth-child(2) {
    padding-top: 16px;
  }

  .splty-item {
    width: 100%;
  }

  .splty-item:hover {
    user-select: none;
  }

  .splty-btn-wrapper {
    margin-top: 0;
    padding-top: 40px;
  }

  /* News section */
  .news-section {
    flex-direction: column;
    padding-top: 32px;
  }

  .news-title-left {
    font-size: 16px;
  }

  .news-section-right {
    padding-top: 36px;
  }

  .news-link-right:hover .news-title-right {
    color: var(--text-color);
  }

  .news-btn-wrapper {
    padding-top: 40px;
    text-align: center;
  }

  .news-section-left {
    width: 100%;
  }

  /* Footer section */
  .footer-wrapper {
    flex-direction: column;
    padding: 0 8px;
  }

  .footer-logo {
    object-position: -8px 0;
  }

  .footer-logo-header {
    padding: 0;
  }

  .footer-logo-address {
    padding: 0;
  }

  .footer-list {
    padding: 12px 0;
  }

  .footer-item__link {
    font-size: 18px;
    font-weight: var(--roboto-medium-weight);
  }

  .footer-copyright {
    padding: 12px 26px;
  }

  .footer-socials {
    padding: 12px 0;
  }

  .copyright-header {
    font-size: 14px;
    padding-bottom: 8px;
  }

  .copyright-body {
    font-size: 12px;
  }

  /* Appointment request  */
  .appt .content-container {
    padding: 0;
  }

  .appt-req-body {
    padding-top: 58px;
  }

  .appt-wrapper {
    padding: 8px 8px;
    box-shadow: none;
  }

  .select-wrapper {
    flex-direction: column;
  }

  .select-wrapper select:not(:last-child) {
    width: 100%;
    margin-bottom: 16px;
  }

  .select-wrapper select:last-child {
    width: 100%;
  }

  .appt-modal-wrapper {
    padding: 8px 8px;
    box-shadow: none;
  }

  .appt-title {
    padding-bottom: 8px;
  }
  .appt-form {
    padding: 0;
    flex-direction: column;
  }

  .appt .appt-form .c-4 > div {
    padding: 0;
  }

  .appt .appt-form .c-4 div > label {
    margin-bottom: 16px;
    font-weight: var(--roboto-medium-weight);
  }

  .appt .appt-form .c-4 div > input {
    background-color: #f5f5f5;
  }

  .appt-input {
    height: 44px;
  }

  .appt-date-input {
    height: 44px;
  }

  .appt-date-icon {
    top: 80px;
    right: 12px;
  }

  .reason-textarea textarea {
    background-color: #f5f5f5;
  }

  .appt-modal-info {
    padding: 0 16px;
  }

  .appt-modal-data {
    display: block;
    padding-bottom: 20px;
  }

  .appt-modal-data span {
    display: block;
    font-size: 20px;
  }

  .appt-modal-data p {
    display: block;
    width: 100%;
  }

  .appt-btn button {
    width: 90%;
    font-size: 18px;
  }

  .appt-modal-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .appt-modal-btn button:first-child {
    width: 90%;
    font-size: 18px;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .appt-modal-btn button:last-child {
    width: 90%;
    font-size: 18px;
    margin: 0;
  }

  /* Sign in */
  .signin-box {
    flex-direction: column-reverse;
    border: none;
    box-shadow: none;
  }

  .signin-left-container {
    display: none;
  }

  .signin-right-form form input {
    width: 100%;
  }

  .signin-right-btn {
    width: 100%;
  }

  .signin-right-btn button {
    width: 100%;
  }

  /* Symptom Checker */
  /* Step 1 */
  .symp-checker h3 {
    margin-top: 80px;
  }

  .symp-checker-board {
    padding: 0;
  }

  .steps-info-section {
    padding: 32px;
  }

  .steps-info-section h5 {
    padding: 0;
  }

  .symp-checker-board form {
    padding: 0;
  }

  .select-age {
    width: 100%;
    padding: 0;
    margin-top: 12px;
  }

  .select-age input {
    width: 60%;
  }

  .select-gender {
    width: 100%;
    padding: 0;
    margin-top: 12px;
  }

  .select-gender select {
    width: 60%;
  }

  .symp-checker-steps {
    padding: 16px 0 8px 0;
  }

  .symp-checker-steps h2 {
    font-size: 20px;
    padding: 8px 0 4px 0;
  }

  .symp-checker-steps h6 {
    font-size: 18px;
    padding: 12px 0 4px 0;
  }

  .symp-checker-steps p {
    padding: 2px 0;
  }

  .progress-bar-step {
    display: none;
  }

  .steps-button-wrapper {
    flex-direction: column;
    justify-content: center;
    padding: 8px 16px 36px;
  }

  .steps-back-button {
    padding-bottom: 16px;
  }

  .steps-back-button button {
    width: 100%;
  }

  .steps-next-button {
    padding: 0;
  }

  .steps-next-button button {
    width: 100%;
  }

  /* Step 2 */
  .symp-checker-board .card {
    padding: 4px;
    border: none;
  }

  .symp-big-box {
    display: none;
  }

  .symp-left-box {
    width: 100% !important;
    display: none;
  }

  .search-symp-display {
    max-height: calc(100% - 180px) !important;
  }

  .symp-right-box {
    display: none;
  }

  /* Step 4 */
  .final-results {
    flex-direction: column-reverse;
  }

  .final-results .extra-articles {
    overflow-y: auto;
    max-height: 300px;
  }

  .final-results .main-article {
    max-height: 600px;
    overflow-y: auto;
  }

  .main-article .d-flex .c-6 button {
    font-size: 14px;
    padding: 8px 4px;
    width: 95% !important;
  }

  .steps-next-button a {
    width: 100%;
  }

  /* Specialty Page */
  .breadcrumbs {
    margin-top: 58px !important;
  }

  .specialty-item {
    height: 240px;
  }

  .specialty-item img {
    width: 100%;
    padding: 0;
    margin-top: 4px;
  }

  .specialty-item-info .specialty-item-link {
    padding-top: 8px;
    width: 100%;
  }

  .specialty-item-info a {
    width: 100%;
    text-align: center;
  }

  .specialty-detail-header {
    font-size: 32px;
    padding: 16px 0 16px;
  }

  .specialty-detail-wrapper {
    flex-direction: column;
  }

  .specialty-detail-wrapper .md-12 > p {
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
  }

  .specilty-detail-info h3 {
    line-height: 1.4;
    padding-top: 32px;
    font-size: 22px;
  }

  .specilty-detail-info p {
    padding: 20px 0 12px;
    font-size: 16px;
  }

  .specilty-detail-info ul li {
    font-size: 16px;
  }

  .specilty-detail-info ul li:not(:last-child) {
    padding-bottom: 8px;
  }

  /* Blogs/News */
  .blog-list h1 {
    font-size: 28px;
    padding: 24px 0 24px;
  }

  .blog-list-items {
    width: 100%;
  }

  .blog-list-item {
    flex-direction: column;
  }

  .blog-link-and-intro {
    display: none;
  }

  .blog-thumbnail-img {
    display: none;
  }

  .mobile-blog-link {
    display: block !important;
    line-height: 1.2;
    padding-bottom: 16px;
  }

  .mobile-blog-link a {
    text-decoration: none;
    color: var(--text-dark-header);
    font-size: 20px;
    font-weight: var(--roboto-medium-weight);
  }

  .mobile-blog-img-and-intro {
    display: block !important;
  }

  .mobile-blog-thumbnail-img {
    max-width: 40%;
    display: inline-block;
  }

  .mobile-blog-thumbnail-img img {
    width: 100%;
    border-radius: 6px;
  }

  .mobile-blog-intro {
    padding-left: 8px;
  }

  .mobile-blog-intro span {
    font-size: 14px;
    color: var(--text-dark-sub);
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
  }

  .individual-blog {
    padding-top: 28px;
  }

  .individual-blog h4 {
    display: block;
  }

  .individual-blog .blog-img {
    padding: 18px 0 24px 0;
  }

  .individual-blog .blog-img img {
    width: 90%;
  }
}
