.symp-big-box {
  width: 100%;
  height: 580px;
}

.big-box-wrapper {
  display: flex;
  height: 100%;
}

.switch-button {
  display: none;
}

/* Left box for search bar */
.symp-left-box {
  width: 40%;
  height: 100%;
}

.left-box-wrapper {
  height: 100%;
  position: relative;
}

/* Search input and search results */
.mobile-add-symp-wrapper {
  display: none;
}

.mobile-add-symp-wrapper .selected-symp-box {
  display: none;
}

.search-symp-input {
  position: relative;
}

.search-symp-input input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border-radius: 4px;
  border: 1px solid #5ca8ff;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.06);
}

.search-symp-input input:focus {
  outline: 2px solid #5ca8ff;
}

.search-symp-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 11px 10px 0 0;
}

.search-symp-button button {
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  width: 32px;
}

.search-symp-button button i {
  color: #303030;
  font-size: 18px;
}

.search-symp-display {
  position: relative;
  max-height: 220px;
  width: 100%;
  background-color: #ffffff;
  overflow-y: auto;
  z-index: 5;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}

.search-symp-display::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

.search-symp-display::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.search-symp-display::-webkit-scrollbar-thumb {
  background: #acacac; /* Color of the scroll thumb */
}

.search-symp-display::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e; /* Color of the scroll thumb on hover */
}

.symptom-button {
  display: block;
  width: 100%;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  text-align: start;
  padding: 6px 16px;
}

.symptom-button:hover {
  background-color: #f5f5f5;
}

.symptom-button span {
  font-size: 18px;
  font-weight: var(--roboto-medium-weight);
}

/* .form-check-label {
  display: block;
  padding: 4px 0 4px 20px;
  border-bottom: 1px solid #e0e0e0;
} */

/* .form-check-label:hover {
  background-color: #f5f5f5;
} */

/* .form-check-label span {
  padding-left: 10px;
  color: #4e4e4e;
  font-size: 16px;
  font-weight: var(--roboto-medium-weight);
} */

/* Display selected symptoms box */
.selected-symp-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  padding-bottom: 12px;
  border-radius: 8px;
  background-color: #f7f7f7;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.selected-symp-header {
  width: 100%;
  padding: 8px;
  text-align: center;
  background-color: #3498db;
  border-radius: 8px 8px 2px 2px;
}

.selected-symp-header span {
  font-size: 18px;
  color: var(--text-white);
  font-weight: var(--roboto-medium-weight);
}

.selected-symp-box-wrapper {
  overflow-y: auto;
  height: calc(100% - 43px);
  padding-top: 6px;
}

.selected-symp-box-wrapper::-webkit-scrollbar {
  width: 4px;
}

.selected-symp-box-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.selected-symp-box-wrapper::-webkit-scrollbar-thumb {
  background: #acacac;
}

.selected-symp-box-wrapper::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}

.selected-symp-item {
  display: flex;
  background-color: #e9e9e9;
  padding: 4px 8px 4px 20px;
  border-radius: 8px;
  margin: 0 12px 4px 12px;
  height: fit-content;
}

.selected-symp-name {
  margin-right: auto;
  color: #838383;
  word-wrap: normal;
  word-break: break-word;
}

.selected-symp-item button {
  border: none;
  background-color: #e9e9e9;
  color: var(--text-white);
  border-radius: 6px;
}

.selected-symp-item button i {
  color: #b1b1b1;
}

.selected-symp-item button i:hover {
  color: #838383;
}

/* Right box for human figure */
.symp-right-box {
  width: 60%;
}

.right-box-wrapper {
  height: 100%;
}

.human-figure {
  height: 100%;
  width: 100%;
  position: relative;
}

.sc-body-model-svg {
  width: 100%;
  height: 100%;
}

.sc-body-model-svg__path {
  fill: rgba(77, 140, 212, 0.2);
}

.sc-body-model-svg__path:hover {
  fill: #4bc4e9;
  stroke: #4bc4e9;
}

.sc-body-model-svg__stroke {
  fill: #155ecc;
  pointer-events: none;
}

/* Symptoms box next to figure */
.human-figure ul {
  list-style: none;
  border-radius: 8px;
}

.human-figure ul li {
  padding: 8px;
}

.human-figure ul li:hover {
  background-color: #d3e6fc;
}

/* 1. Head */
.head-symptoms-list {
  position: absolute;
  top: 0;
  left: 10px;
  background-color: #ffffff;
  width: 220px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* 2. Eyes */
.eyes-symptoms-list {
  position: absolute;
  top: 20px;
  left: 30px;
  background-color: #ffffff;
  width: 220px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* 3. Ears */
.ears-symptoms-list {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ffffff;
  width: 220px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* 4. Nose */
.nose-symptoms-list {
  position: absolute;
  top: 30px;
  left: 40px;
  background-color: #ffffff;
  width: 220px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* 5. Mouth */
.mouth-symptoms-list {
  position: absolute;
  top: 35px;
  left: 30px;
  background-color: #ffffff;
  width: 220px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* 6. Neck */
.neck-symptoms-list {
  position: absolute;
  top: 60px;
  left: 30px;
  background-color: #ffffff;
  width: 220px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* 7. Chest */
.chest-symptoms-list {
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #ffffff;
  width: 220px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* 8. UpperArm */
.upperArm-symptoms-list {
  position: absolute;
  top: 90px;
  right: 0;
  background-color: #ffffff;
  width: 220px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* 9. ForeArm */
.foreArm-symptoms-list {
  position: absolute;
  top: 140px;
  right: 0;
  background-color: #ffffff;
  width: 220px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* 10. MidAb */
.midAb-symptoms-list {
  position: absolute;
  top: 200px;
  right: 0;
  background-color: #ffffff;
  width: 220px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* 11. LowerAbPrivate */
.lowerAbPrivate-symptoms-list {
  position: absolute;
  top: 240px;
  right: 0;
  background-color: #ffffff;
  width: 220px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* 12. Hand */
.hand-symptoms-list {
  position: absolute;
  top: 240px;
  right: 0;
  background-color: #ffffff;
  width: 220px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* 13. Thigh */
.thigh-symptoms-list {
  position: absolute;
  top: 280px;
  right: 0;
  background-color: #ffffff;
  width: 220px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* 14. Knee */
.knee-symptoms-list {
  position: absolute;
  top: 340px;
  right: 0;
  background-color: #ffffff;
  width: 220px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* 15. LowerLeg */
.lowerLeg-symptoms-list {
  position: absolute;
  top: 350px;
  right: 0;
  background-color: #ffffff;
  width: 220px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* 16. Foot */
.foot-symptoms-list {
  position: absolute;
  top: 400px;
  right: 0;
  background-color: #ffffff;
  width: 220px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Mobile right box */
.mobile-right-box {
  padding-bottom: 12px;
  width: 100%;
  height: 600px;
}

.mobile-selected-symp-box {
  display: none;
  width: 100%;
  height: 300px;
  padding-bottom: 12px;
  background-color: #f7f7f7;
  border-radius: 8px;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.mobile-symp-background {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  touch-action: none;
  animation: slideleft 0.5s;
}

.mobile-symp-background-extra {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  touch-action: none;
  animation: slideright 0.5s;
}

/***** Mobile symptoms list *****/
.mobile-symptoms-list {
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
  height: calc(100% - 58px);
  border-radius: 6px;
  overflow-y: auto;
  animation: slideleft 0.4s;
}

.mobile-symptoms-list-extra {
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
  height: calc(100% - 58px);
  border-radius: 6px;
  overflow-y: auto;
  animation: slideright 0.4s;
}

@keyframes slideleft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideright {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(0%);
  }
}

.mobile-symptoms-list > button {
  width: 100%;
  padding: 16px 28px;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  background-color: #ffffff;
  display: flex;
  font-size: 20px;
  font-weight: var(--roboto-medium-weight);
}

.mobile-symptoms-list button > i {
  margin-left: auto;
}

.mobile-symp-list-button {
  width: 100%;
  height: 76px;
  bottom: 0;
  position: fixed;
  display: flex;
  background-color: #ffffff;
}

.mobile-symp-list-button button {
  width: 100%;
  border-radius: 10px;
  margin: 10px 16px;
}

.mobile-symp-list-button button:first-child {
  color: var(--text-color);
  border: none;
  background-color: #ebebeb;
  padding: 8px 12px;
  font-weight: var(--roboto-regular-weight);
}

.mobile-symp-list-button button:last-child {
  color: var(--text-white);
  background-color: #3498db;
  border: none;
  padding: 8px 12px;
  font-weight: var(--roboto-regular-weight);
}

.mobile-symp-list-button button:last-child:disabled {
  color: #d1d1d1;
  background-color: #f0f0f0;
  border: none;
  padding: 8px 12px;
  font-weight: var(--roboto-regular-weight);
}

/* Final results - Step 4 */
.final-results .main-article {
  max-height: 500px;
  overflow-y: auto;
}

.final-results .extra-articles {
  padding-top: 2px;
  max-height: 500px;
  overflow-y: auto;
}

.main-article::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

.main-article::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.main-article::-webkit-scrollbar-thumb {
  background: #acacac; /* Color of the scroll thumb */
}

.main-article::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e; /* Color of the scroll thumb on hover */
}

.extra-articles::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

.extra-articles::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.extra-articles::-webkit-scrollbar-thumb {
  background: #acacac; /* Color of the scroll thumb */
}

.extra-articles::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e; /* Color of the scroll thumb on hover */
}

.article-btn {
  cursor: pointer;
}

.article-btn:hover {
  box-shadow: #1b72b498 0px 1px 2px 0px, #1b72b498 0px 2px 6px 2px;
}

/* MOBILE RESPONSIVE */
@media only screen and (max-width: 767px) {
  /* Symptom Checker */
  h4 {
    display: none;
  }

  h5 {
    text-align: center;
  }

  .active-switch-button {
    color: var(--text-white);
    background-color: #3498db;
  }

  .switch-button {
    display: block;
    width: 100%;
    height: 48px;
    margin-bottom: 12px;
  }

  .switch-button button {
    width: 50%;
    height: 100%;
    border: none;
  }

  .switch-button button:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .switch-button button:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .left-box-wrapper {
    height: 50%;
  }

  .mobile-search-background {
    width: 100%;
    height: calc(100% - 58px);
    background-color: #ffffff;
    position: fixed;
    top: 58px;
    left: 0;
    z-index: 10;
    animation: slideleft 0.5s;
  }

  .mobile-add-symp-wrapper {
    display: block;
  }

  .add-symp-btn {
    display: flex;
    justify-content: center;
  }

  .add-symp-btn > button {
    color: var(--text-white);
    background-color: #004ad3;
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    font-weight: var(--roboto-regular-weight);
  }

  .add-symp-btn button span {
    padding-right: 8px;
  }

  .mobile-add-symp-wrapper .selected-symp-box {
    position: relative !important;
  }

  .search-symp-input {
    display: none;
  }

  .mobile-search-symp-input {
    display: block;
    position: relative;
    padding: 16px 12px 4px 16px;
  }

  .mobile-search-symp-input input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border-radius: 4px;
    border: 1px solid #5ca8ff;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.06);
  }

  .mobile-search-symp-input .search-symp-button {
    padding: 26px 20px 0 0;
  }

  .mobile-search-symp-btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 76px;
    display: flex;
    background-color: #ffffff;
  }

  .mobile-search-symp-btn button {
    width: 100%;
    border-radius: 10px;
    margin: 10px 16px;
  }

  .mobile-search-symp-btn button:first-child {
    color: var(--text-color);
    border: none;
    background-color: #ebebeb;
    padding: 8px 12px;
    font-weight: var(--roboto-regular-weight);
  }

  .mobile-search-symp-btn button:last-child:disabled {
    color: #d1d1d1;
    background-color: #f0f0f0;
    border: none;
    padding: 8px 12px;
    font-weight: var(--roboto-regular-weight);
  }

  .mobile-search-symp-btn button:last-child {
    color: var(--text-white);
    background-color: #3498db;
    border: none;
    padding: 8px 12px;
    font-weight: var(--roboto-regular-weight);
  }

  .symptom-button {
    padding: 12px 16px;
  }

  /* .form-check-label {
    padding: 20px 20px 20px 60px;
  } */

  /* .form-check-label input {
    font-size: 20px;
  }

  .form-check-label span {
    font-size: 20px;
    padding-left: 16px;
  } */

  .selected-symp-item {
    padding: 12px 4px 12px 24px;
  }

  .selected-symp-item .selected-symp-name {
    font-size: 18px;
  }

  .selected-symp-item button {
    width: 40px;
    height: 100%;
  }

  .mobile-selected-symp-box {
    margin-top: 24px;
    display: block;
  }
}
