/* SUPPORT US SECTION */
.extra {
  margin-top: 40px;
  position: relative;
}

.extra .extra-bg {
  background-image: linear-gradient(
      rgba(0, 86, 143, 0.6),
      rgba(0, 86, 143, 0.4)
    ),
    url("assets/background/system3-bg.jpg");
  height: 340px;
  background-repeat: no-repeat;
  /* background-position: 48% 66%; */
  background-position: center 0%;
  position: relative;
}

.extra .extra-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
}

.extra .content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.extra .extra-text {
  text-align: center;
  color: white;
}

.extra .extra-text hr {
  border-width: 2px;
  opacity: 1;
}

.extra .extra-btn {
  text-align: center;
  padding-top: 32px;
}

.extra .extra-btn a {
  text-decoration: none;
  color: var(--text-dark-1);
  background-color: #fff;
  border: none;
  border-radius: var(--border-radius-1);
  font-size: 16px;
  display: inline-block;
  padding: 8px 12px;
  font-weight: var(--roboto-regular-weight);
}

.extra .extra-btn a:hover {
  background-color: var(--btn-light-hover-1);
}
