/* FOOTER SECTION */
.footer-home-mt {
  margin-top: -1px !important;
}

.footer {
  margin-top: 100px;
}

.footer-bg {
  background-color: var(--footer-bg);
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  padding: 44px 0;
}

.footer-logo-wrapper {
  margin-top: 20px;
  overflow: hidden;
  width: 150px;
}

.footer-logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.footer-logo-header {
  margin-top: 24px;
  font-size: 18px;
  padding: 0 8px;
  font-weight: var(--roboto-medium-weight);
  color: var(--text-white-1);
}

.footer-logo-address {
  padding: 0 8px;
  margin-top: 4px;
  font-weight: var(--roboto-regular-weight);
  color: #e7e7e7;
}

.footer-header {
  font-size: 18px;
  margin-top: 24px;
  font-weight: var(--roboto-medium-weight);
  color: var(--text-white-1);
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-item {
  padding: 5px 0;
}

.footer-item__link {
  display: inline-block;
  text-decoration: none;
  color: #f5f5f5;
  font-weight: var(--roboto-regular-weight);
}

.footer-socials__link {
  display: inline-block;
  text-decoration: none;
  color: #e7e7e7;
}

.footer-socials__link:not(:last-child) {
  margin-right: 16px;
}

.footer-socials__link:hover {
  color: #dbdbdb;
}

.footer-socials {
  display: flex;
}

.footer-socials-icon span {
  font-size: 28px;
}

.footer-map {
  width: 100%;
  height: 146px;
  overflow: hidden;
}

.footer-map iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 1px;
  border-radius: var(--border-radius-1);
}

.copyright {
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  background-color: var(--copyright-bg);
}

.footer-copyright {
  padding: 30px 0;
}

.copyright-header {
  text-align: center;
  font-size: 16px;
  font-weight: var(--roboto-regular-weight);
  color: #e7e7e7;
}

.copyright-body {
  text-align: center;
  font-weight: var(--roboto-light-weight);
  color: #e7e7e7;
}

/* Mobile phone */
@media only screen and (max-width: 767px) {
  /* Footer section */
  .footer-wrapper {
    flex-direction: column;
    padding: 0 8px;
  }

  .footer-logo {
    object-position: -8px 0;
  }

  .footer-logo-header {
    padding: 0;
  }

  .footer-logo-address {
    padding: 0;
  }

  .footer-list {
    padding: 12px 0;
  }

  .footer-item__link {
    font-size: 18px;
    font-weight: var(--roboto-medium-weight);
  }

  .footer-copyright {
    padding: 12px 26px;
  }

  .footer-socials {
    padding: 12px 0;
  }

  .copyright-header {
    font-size: 14px;
    padding-bottom: 8px;
  }

  .copyright-body {
    font-size: 12px;
  }
}
