/* SPECIALTY SECTION */
.specialty {
  padding-top: 30px;
  background-image: url("assets/background/options-bg.png");
  background-repeat: no-repeat;
  background-position: 12% 62%;
}

.splty-section-header {
  text-align: center;
  font-size: 28px;
  color: var(--text-blue-3);
  font-weight: var(--roboto-medium-weight);
}

.splty-items-container {
  margin-top: 36px;
  padding: 24px 0;
}

.splty-items-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.splty-items-wrapper:nth-child(2) {
  padding-top: 40px;
}

.splty-item {
  width: 20%;
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-1);
}

.splty-item__link {
  text-decoration: none;
  color: var(--text-dark-1);
}

.splty-item-img {
  overflow: hidden;
  width: 100%;
  height: 120px;
  margin: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #fff;
}

.splty-item-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.splty-item-header {
  text-align: center;
  color: var(--text-blue-3);
  padding: 8px 0;
  font-weight: var(--roboto-medium-weight);
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  transition: background-color 0.2s ease-in-out;
}

.splty-item:hover .splty-item-header {
  color: var(--text-white-1);
  background-color: #349dff;
}

.splty-btn-wrapper {
  padding-top: 20px;
  text-align: center;
}

.splty-btn-link {
  text-decoration: none;
  color: var(--text-white-1);
  background-color: var(--btn-blue-1);
  border: none;
  border-radius: var(--border-radius-1);
  font-size: 16px;
  display: inline-block;
  text-align: center;
  padding: 8px 12px;
  font-weight: var(--roboto-regular-weight);
}

.splty-btn-link:hover {
  background-color: var(--btn-blue-hover-1);
}

/* SpecialtyDetail */
.specialty-detail-header {
  padding: 28px 0 16px;
  color: var(--text-blue-1);
  font-size: 36px;
  font-weight: var(--roboto-medium-weight);
}

.specialty-detail-wrapper .specialty-detail-intro > p {
  color: var(--text-dark-body);
  padding-right: 24px;
}

.specialty-detail-wrapper .specialty-detail-img {
  text-align: center;
}

.specialty-detail-wrapper img {
  width: 80%;
  height: 90%;
  border-radius: 12px;
}

.specilty-detail-info h3 {
  color: var(--text-blue-2);
  text-decoration: underline;
  text-underline-offset: 8px;
  padding-top: 40px;
  font-size: 24px;
}

.specilty-detail-info p {
  padding: 28px 0 16px;
  color: var(--text-dark-header);
  font-weight: var(--roboto-medium-weight);
}

.specilty-detail-info ul {
  padding-left: 40px;
}

.specilty-detail-info ul li {
  color: var(--text-dark-body);
}

.specialty-detail-summary {
  margin-top: 32px;
  padding: 28px;
  border-radius: 12px;
  background-color: var(--sub-nav-bg);
}

.specialty-detail-summary span {
  color: var(--text-white-1);
}

.breadcrumbs {
  padding-top: 20px;
}

.breadcrumbs a {
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

/* Mobile phone */
@media only screen and (max-width: 767px) {
  /* Specialty section */
  .splty-items-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
    gap: 16px;
  }

  .splty-items-container {
    padding-top: 32px;
  }

  .splty-items-wrapper:nth-child(2) {
    padding-top: 16px;
  }

  .splty-item {
    width: 100%;
  }

  .splty-item:hover {
    user-select: none;
  }

  .splty-btn-wrapper {
    margin-top: 0;
    padding-top: 40px;
  }

  /* Specialty Detail */
  .breadcrumbs {
    margin-top: 58px !important;
  }

  .specialty-detail-header {
    font-size: 32px;
    padding: 16px 0 16px;
  }

  .specialty-detail-wrapper {
    flex-direction: column;
  }

  .specialty-detail-wrapper .md-12 > p {
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
  }

  .specilty-detail-info h3 {
    line-height: 1.4;
    padding-top: 32px;
    font-size: 22px;
  }

  .specilty-detail-info p {
    padding: 20px 0 12px;
    font-size: 16px;
  }

  .specilty-detail-info ul li {
    font-size: 16px;
  }

  .specilty-detail-info ul li:not(:last-child) {
    padding-bottom: 8px;
  }
}
