/* ABOUT SECTION */
.about {
  margin-top: 80px;
}

.about-wrapper {
  display: flex;
}

.about-section {
  padding-right: 12px;
}

.about-header {
  font-size: 28px;
  color: var(--text-blue-3);
  font-weight: var(--roboto-medium-weight);
}

.about-body {
  color: var(--text-dark-body);
  padding-top: 16px;
  font-size: 18px;
  font-weight: var(--roboto-regular-weight);
}

.about-section-btn {
  text-align: end;
  padding-right: 12px;
}

.about-section-btn a {
  text-decoration: none;
  color: var(--text-white-1);
  background-color: var(--btn-blue-1);
  border: none;
  border-radius: var(--border-radius-1);
  font-size: 16px;
  display: inline-block;
  text-align: center;
  padding: 8px 12px;
  font-weight: var(--roboto-regular-weight);
}

.about-section-btn a:hover {
  background-color: var(--btn-blue-hover-1);
}

.about-img {
  position: relative;
  overflow: hidden;
  width: 95%;
  margin: auto;
  border-radius: var(--border-radius-1);
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 78, 121, 0.8);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0, 78, 121, 0.8);
  box-shadow: 10px 10px 10px 0px rgba(0, 78, 121, 0.8);
}

.hospital-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: var(--border-radius-1);
}

/* Mobile phone */
@media only screen and (max-width: 767px) {
  /* About section */
  .about-wrapper {
    flex-direction: column;
  }

  .about-section {
    text-align: center;
  }

  .about-body {
    padding: 32px 8px 0 8px;
    font-size: 16px;
  }

  .about-img {
    padding-top: 40px;
    width: 100%;
  }
}
