@use "scss/mixins";

.about {
  margin-top: 80px;

  &__wrapper {
    display: flex;
  }
  &__section {
    padding-right: 12px;

    &-header {
      font-size: 28px;
      color: var(--text-blue-3);
      font-weight: var(--roboto-medium-weight);
    }

    &-body {
      color: var(--text-dark-body);
      padding-top: 16px;
      font-size: 18px;
      font-weight: var(--roboto-regular-weight);
    }

    &-btn {
      text-align: end;
      padding-right: 12px;

      a {
        @include mixins.btn;
      }
    }
  }
  &__img {
    position: relative;
    overflow: hidden;
    width: 95%;
    margin: auto;
    border-radius: var(--border-radius-1);
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 78, 121, 0.8);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0, 78, 121, 0.8);
    box-shadow: 10px 10px 10px 0px rgba(0, 78, 121, 0.8);

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      border-radius: var(--border-radius-1);
    }
  }
  /* Mobile phone */
  @media only screen and (max-width: 767px) {
    &__wrapper {
      flex-direction: column;
    }
    &__section {
      text-align: center;

      &-body {
        padding: 32px 8px 0 8px;
        font-size: 16px;
      }

      &-btn {
        text-align: center;
        padding: 20px 0 0;
      }
    }
    &__img {
      padding-top: 40px;
      width: 100%;
      box-shadow: none;
    }
  }
}
