@use "scss/mixins";

.news {
  margin-top: 40px;
  padding: 40px 0;
  background-color: #ecf5ff;
}

.news__wrapper {
  &-header {
    text-align: center;
    font-size: 28px;
    color: var(--text-blue-3);
    font-weight: var(--roboto-medium-weight);
  }
}

.news__section {
  display: flex;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 40px 52px;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  height: auto;
  border-radius: 8px;
}

.swipe__news {
  width: 100%;
  height: 100%;
}

.swipe__news-wrapper {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
}

.swipe__news-img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.swipe__news-text {
  padding: 0 12px;
}

.swipe__news-title {
  padding: 12px 0 0 0;
  height: 80px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;

  h5 {
    font-size: 18px;
    height: 100%;
    color: var(--text-dark-header);
    transition: color 0.2s;
  }
}

.swipe__news-wrapper:hover .swipe__news-title h5 {
  color: var(--text-blue-3);
  text-decoration: underline;
}

.swipe__news-sub {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;

  p {
    padding-top: 16px;
    font-size: 16px;
    color: var(--text-dark-body);
  }
}

.news__btn {
  padding-top: 20px;
  text-align: center;

  a {
    @include mixins.btn;
  }
}

/* Mobile phones */
@media only screen and (max-width: 767px) {
  .news__btn {
    a {
      width: 50%;
    }
  }
}
