@use "scss/mixins";

.news {
  margin-top: 80px;
  padding: 60px 0;
  background-color: #ecf5ff;
}

.news__wrapper {
  &-header {
    text-align: center;
    font-size: 28px;
    color: var(--text-blue-3);
    font-weight: var(--roboto-medium-weight);
  }
}

.news__section {
  display: flex;
  height: 500px;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 40px 52px;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  height: auto;
  border-radius: var(--border-radius-1);
}

.swipe__news {
  width: 100%;
  height: 100%;
}

.swipe__news-wrapper {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
}

.swipe__news-img {
  width: 100%;
  height: 50%;
  border-top-left-radius: var(--border-radius-1);
  border-top-right-radius: var(--border-radius-1);

  img {
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--border-radius-1);
    border-top-right-radius: var(--border-radius-1);
  }
}

.swipe__news-text {
  padding: 0 12px;
}

.swipe__news-title {
  padding: 12px 0 0 0;
  height: 80px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;

  h5 {
    font-size: 18px;
    height: 100%;
    color: var(--text-dark-header);
    transition: color 0.2s;
  }
}

.swipe__news-wrapper:hover .swipe__news-title h5 {
  color: var(--text-blue-3);
  text-decoration: underline;
}

.swipe__news-sub {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;

  p {
    padding-top: 16px;
    font-size: 16px;
    color: var(--text-dark-body);
  }
}

.news__btn {
  padding-top: 20px;
  text-align: center;

  a {
    @include mixins.btn;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .news__section {
    height: 450px;
  }

  .swiper-slide {
    height: 300px;
  }

  .swipe__news-img {
    height: 40%;
  }

  .swipe__news-title {
    padding: 12px 0 0 0;
    height: 75px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;

    h5 {
      font-size: 18px;
      height: 100%;
      color: var(--text-dark-header);
      transition: color 0.2s;
    }
  }
}

/* Mobile phones */
@media only screen and (max-width: 767px) {
  .news__section {
    height: 450px;
  }

  .news__btn {
    a {
      width: 50%;
    }
  }
}
