.datatable {
  height: 600px;
  padding: 20px;

  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    button {
      margin-left: auto;
      margin-right: 16px;
      text-decoration: none;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      background-color: #4b4b4b;
      padding: 5px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #0e0e0e;
    }

    .add-link {
      text-decoration: none;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      background-color: #008ada;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }

    .add-link:hover {
      background-color: #006dac;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.Accepted {
      background-color: rgba(148, 230, 148, 0.5);
      color: green;
    }
    &.Approved {
      background-color: rgba(148, 230, 148, 0.5);
      color: green;
    }
    &.Pending {
      background-color: rgba(219, 211, 154, 0.5);
      color: goldenrod;
    }
    &.Đã-xem {
      background-color: rgba(219, 219, 219, 0.5);
      color: rgb(139, 139, 139);
    }
    &.Chưa-xem {
      background-color: rgba(231, 110, 193, 0.5);
      color: rgb(223, 71, 174);
    }
    &.Request-edit {
      background-color: rgba(231, 110, 193, 0.5);
      color: rgb(223, 71, 174);
    }
  }

  .rowWithStatus {
    &.Accepted {
      background-color: #f1f6fc;
    }
    &.Pending {
      font-weight: var(--roboto-medium-weight);
      color: black;
    }
    &.Đã-xem {
      background-color: #f1f6fc;
    }
    &.Chưa-xem {
      font-weight: var(--roboto-medium-weight);
      color: black;
    }
    &.Request-edit {
      font-weight: var(--roboto-medium-weight);
      color: black;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0 20px;

    .viewLink {
      text-decoration: none;
    }

    .viewButton {
      padding: 4px 10px;
      border-radius: 5px;
      color: #ffffff;
      background-color: #008dda;
      border: 1px solid #008dda;
      font-weight: var(--roboto-medium-weight);
      cursor: pointer;

      &:hover {
        background-color: darken(#008dda, 10%);
      }
    }

    .deleteButton {
      padding: 4px 10px;
      border-radius: 5px;
      color: #ffffff;
      background-color: #ff0000;
      border: 1px solid #ff0000;
      font-weight: var(--roboto-medium-weight);
      cursor: pointer;

      &:hover {
        background-color: darken(#ff0000, 10%);
      }
    }

    .checkButton {
      padding: 4px 10px;
      border-radius: 5px;
      color: #ffffff;
      background-color: #008b46;
      border: 1px solid #008b46;
      font-weight: var(--roboto-medium-weight);
      cursor: pointer;

      &:hover {
        background-color: darken(#008b46, 10%);
      }
    }

    .editButton {
      padding: 4px 10px;
      border-radius: 5px;
      color: #ffffff;
      background-color: #e459b8;
      border: 1px solid #e459b8;
      font-weight: var(--roboto-medium-weight);
      cursor: pointer;

      &:hover {
        background-color: darken(#e459b8, 10%);
      }
    }
  }
}

// .cell-blog-status-request-edit {
//   color: red;
// }

// .cell-blog-status-pending {
//   color: blue;
// }

// .cell-blog-status-accepted {
//   color: green;
// }
