.create-blog-text-editor {
  > h1 {
    padding: 16px 0;
    font-size: 36px;
    color: var(--text-blue);
    font-weight: var(--roboto-medium-weight);
  }

  > span {
    font-size: 18px;
    font-weight: var(--roboto-medium-weight);
  }

  label {
    display: block;
    padding: 16px 0 8px 0;
    font-size: 18px;
    font-weight: var(--roboto-medium-weight);
  }

  textarea {
    resize: vertical;
    padding: 4px 8px;
    width: 100%;
    border: 2px solid #9e9e9e;
    border-radius: 8px;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.text-editor {
  border-radius: 8px;
  border: 2px solid #9e9e9e;

  .menu-bar {
    padding: 4px 6px;

    button {
      font-size: 16px;
      margin: 4px;
      border: none;
      border-radius: 4px;
    }

    button:hover {
      background-color: #9b9b9b;
      color: white;
    }

    button.is-active {
      background-color: #9b9b9b;
    }
  }
}

.ProseMirror {
  padding: 10px;
  border-top: 2px solid #9e9e9e;
  background-color: white;
  border-radius: 0 0 8px 8px;
  min-height: 100px;
}

.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }

  em {
    font-style: italic;
  }
}

.intro-textarea {
  height: 120px;
}

.text-editor-img {
  width: 100%;
}

.text-editor-img img {
  width: 20%;
  border-radius: 6px;
}

.text-editor-btn {
  padding: 16px 0 40px 0;
  display: flex;
}
