.main-nav-list {
  padding: 6px 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.home-logo {
  overflow: hidden;
  width: 150px;
}

.home-logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.nav-item:first-child {
  margin-right: auto;
}

.nav-item:not(:first-child) {
  margin-right: 30px;
}

.main-nav-text {
  font-size: 18px;
  color: var(--text-dark-1);
  font-weight: var(--roboto-regular-weight);
}

.home-icon {
  font-size: 26px;
  color: #ffffff;
  padding-right: 10px;
}

/* User Dropdown */
.user-login {
  position: relative;
}

.user-login a {
  display: flex;
  text-decoration: none;
  color: var(--text-dark-1);
  align-items: center;
}

.user-icon-dropdown {
  font-size: 20px;
  padding-left: 6px;
}

.user-dropdown {
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  top: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  z-index: 15;
}

.user-dropdown a {
  display: block;
  text-decoration: none;
  color: var(--text-dark-1);
  padding: 12px 12px;
  font-size: 18px;
}

.user-dropdown a:hover {
  background-color: #d3e6fc;
}

.user-dropdown a:first-child:hover {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.user-dropdown a:last-child:hover {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.user-dropdown a span {
  padding-left: 12px;
}
