.admin-navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;

  .wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: end;

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        .noti-list {
          position: absolute;
          display: none;
          width: 320px;
          background-color: var(--bg-white);
          top: 30px;
          left: -280px;
          box-shadow: var(--box-shadow-5);
          z-index: 10;
          border-radius: 8px;

          & > div {
            display: flex;
            justify-content: space-between;
            padding: 8px 12px;
            border-bottom: 1px solid var(--border-gray-3);

            span {
              color: var(--text-dark-header);
              font-size: 16px;
              font-weight: var(--roboto-medium-weight);
            }

            a {
              text-decoration: none;
              font-size: 16px;
            }
          }

          ul {
            list-style: none;
            border-radius: 8px;

            li {
              font-size: 16px;
              display: block;
              padding: 8px 12px;
              cursor: pointer;

              a {
                display: flex;
                text-decoration: none;
                font-weight: var(--roboto-regular-weight);
                color: var(--text-dark-1);

                p {
                  color: var(--text-dark-body);
                }

                span {
                  font-weight: var(--roboto-medium-weight);
                  color: var(--text-dark-1);
                }
              }
            }

            li:hover {
              background-color: #e2e2e2;
            }

            li:last-child {
              border-bottom-left-radius: 8px;
              border-bottom-right-radius: 8px;
            }

            li:not(:first-child) {
              border-top: 1px solid var(--border-gray-3);
            }
          }
        }

        .icon {
          font-size: 24px;
          position: relative;
        }

        .span {
          font-size: 24px;
        }

        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .counter {
          width: 16px;
          height: 16px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }

      .item:first-child:hover .noti-list {
        display: block;
      }

      .item:first-child::after {
        content: "";
        position: absolute;
        top: 20px;
        left: -260px;
        height: 10px;
        width: 300px;
        background-color: transparent;
      }
    }
  }
}
