/* SWIPE ARTICLES */
.swiper {
  width: 100%;
  height: 160px;
  padding: 36px 60px;
}

.swipe-article {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid var(--border-gray-1);
  border-radius: var(--border-radius-1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.swipe-article-info > h6 {
  color: var(--text-blue-3);
}

.swipe-article-info > h6:hover {
  text-decoration: underline;
}

/* SYMPTOM CHECKER PAGE */
/* Step 1 */
.symp-checker {
  padding-bottom: 40px;
}

.symp-checker h3 {
  padding-top: 40px;
  color: var(--text-blue-3);
  font-weight: var(--roboto-medium-weight);
}

.symp-checker-steps {
  padding: 16px 48px;
}

.symp-checker-steps h2 {
  padding: 16px 0 8px 0;
  font-size: 24px;
  color: var(--text-dark-sub-header);
  font-weight: var(--roboto-medium-weight);
}

.symp-checker-steps h5 {
  padding: 12px 0 8px 0;
  font-size: 20px;
  color: var(--text-dark-header);
  font-weight: var(--roboto-medium-weight);
}

.symp-checker-steps p {
  padding: 6px 0;
  color: var(--text-dark-body);
}

.symp-checker-board {
  padding: 48px;
}

.symp-checker-board form {
  padding-top: 20px;
}

.symp-checker-board .card {
  padding: 36px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.steps-info-section h5 {
  text-align: center;
  padding-top: 32px;
}

.steps-info-section div h5 span {
  color: #d84444;
  position: relative;
  animation: showUp 0.5s;
}

@keyframes showUp {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.steps-info-section div h5 span i {
  color: #d84444;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: -16px;
}

.select-age {
  width: 100%;
  margin-top: 18px;
}

.select-age input {
  text-align: center;
  width: 20%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.select-gender {
  width: 100%;
  margin-top: 18px;
}

.select-gender select {
  width: 20%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.progress-bar-step {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.steps-button-wrapper {
  display: flex;
  justify-content: end;
}

.steps-back-button button {
  width: 160px;
  color: var(--text-dark-1);
  border: 1px solid #c4c4c4;
  border-radius: var(--border-radius-1);
  padding: 8px 0;
  background-color: #f0f0f0;
}

.steps-back-button button:hover {
  background-color: #b8b8b8;
}

.steps-back-button button:disabled {
  background-color: #ffffff;
  pointer-events: none;
}

.steps-next-button button:disabled {
  border: 1px solid #c4c4c4 !important;
  background-color: #ffffff !important;
  color: var(--text-dark-1) !important;
}

.steps-next-button {
  padding-left: 24px;
}

.steps-next-button button {
  width: 160px;
  color: var(--text-white-1);
  background-color: var(--btn-blue-1);
  border: 1px solid #c4c4c4;
  border-radius: var(--border-radius-1);
  padding: 8px 0;
}

.steps-next-button button:hover {
  background-color: var(--btn-blue-hover-1);
  color: var(--text-white-1);
}

/* Step 2 */
.symp-big-box {
  width: 100%;
}

.big-box-wrapper {
  display: flex;
  height: 100%;
}

.switch-button {
  display: none;
}

/* Left box for search bar */
.symp-left-box {
  width: 40%;
}

.left-box-wrapper {
  height: 100%;
  position: relative;
}

/* Search input and search results */
.mobile-add-symp-wrapper {
  display: none;
}

.mobile-add-symp-wrapper .selected-symp-box {
  display: none;
}

.search-symp-input {
  position: relative;
}

.search-symp-input input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border-radius: 4px;
  border: 1px solid #5ca8ff;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.06);
}

.search-symp-input input:focus {
  outline: 2px solid #5ca8ff;
}

.search-symp-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 11px 10px 0 0;
}

.search-symp-button button {
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  width: 32px;
}

.search-symp-button button i {
  color: #303030;
  font-size: 18px;
}

.search-symp-display {
  position: relative;
  max-height: 220px;
  width: 100%;
  background-color: var(--bg-white);
  overflow-y: auto;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: var(--border-radius-1);
}

/* Search symptoms scroll bar */
.search-symp-display::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.search-symp-display::-webkit-scrollbar-thumb {
  background: #acacac;
}

.search-symp-display::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}

.symptom-button {
  display: block;
  width: 100%;
  background-color: var(--bg-white);
  border: none;
  border-bottom: 1px solid #dbdbdb;
  text-align: start;
  padding: 6px 16px;
  transition: background-color 0.05s ease-in-out;
}

.symptom-button:hover {
  background-color: #f5f5f5;
}

.symptom-button span {
  font-size: 16px;
  font-weight: var(--roboto-regular-weight);
}

/* Display selected symptoms box */
.selected-symp-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: auto;
  padding-bottom: 12px;
  border-radius: var(--border-radius-1);
  background-color: var(--bg-blue-3);
  box-shadow: var(--box-shadow-1);
}

.selected-symp-header {
  width: 100%;
  padding: 8px;
  text-align: center;
  background-color: var(--bg-blue-3);
  border-radius: 8px 8px 2px 2px;
}

.selected-symp-header span {
  font-size: 18px;
  color: var(--text-dark-1);
  font-weight: var(--roboto-medium-weight);
}

.selected-symp-box-wrapper {
  max-height: 300px;
  overflow-y: auto;
  padding-top: 6px;
}

/* Select symp box scrollbar */
.selected-symp-box-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.selected-symp-box-wrapper::-webkit-scrollbar-thumb {
  background: #acacac;
}

.selected-symp-box-wrapper::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}

.selected-symp-item {
  display: flex;
  background-color: var(--bg-blue-1);
  padding: 4px 8px 4px 20px;
  border-radius: 8px;
  margin: 0 12px 4px 12px;
  height: fit-content;
  animation: appear 0.7s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.selected-symp-name {
  margin-right: auto;
  color: var(--text-white-1);
  word-wrap: normal;
  word-break: break-word;
}

.selected-symp-item button {
  border: none;
  background-color: transparent;
}

.selected-symp-item button i {
  color: var(--bg-white);
}

.selected-symp-item button i:hover {
  color: var(--bg-gray-3);
}

/* Right box for human figure */
.symp-right-box {
  width: 60%;
}

.right-box-wrapper {
  height: 100%;
  position: relative;
}

.human-figure {
  height: 100%;
  width: 50%;
  margin-left: 20%;
}

.sc-body-model-svg {
  width: 100%;
  height: 100%;
}

.sc-body-model-svg__path {
  fill: rgba(77, 140, 212, 0.2);
}

.sc-body-model-svg__path:hover {
  fill: #4bc4e9;
  stroke: #4bc4e9;
}

.sc-body-model-svg__stroke {
  fill: #155ecc;
  pointer-events: none;
}

/* Symptoms box next to figure */
.human-figure ul {
  list-style: none;
  border-radius: 8px;
}

.human-figure ul li {
  padding: 8px;
}

.human-figure ul li:hover {
  background-color: #d3e6fc;
}

/* Symptom box scrollbar */
.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #acacac;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}

/* Symptom list box header */
.symptom-list-box-header {
  display: flex;
  padding: 8px 12px 8px 16px;
  font-size: 16px;
  color: var(--text-dark-header);
  font-weight: var(--roboto-medium-weight);
  background-color: var(--bg-blue-8);
  border-top-right-radius: var(--border-radius-1);
  border-top-left-radius: var(--border-radius-1);
}

.symptom-list-box-header > span {
  flex-grow: 1;
}

.symptom-list-box-header > button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.symptom-list-box-header > button .close-icon {
  width: 24px;
  fill: var(--text-dark-body);
}

.symptom-list-box-header > button:hover .close-icon {
  fill: var(--text-dark-1);
}

.symptom-list-no-symptoms {
  padding: 12px 16px;
}

.symptom-list-no-symptoms > div {
  display: flex;
  background-color: var(--bg-blue-3);
  border: 1px solid var(--bg-blue-1);
  border-radius: var(--border-radius-1);
  padding: 8px 16px;
}

.symptom-list-no-symptoms > div > i {
  color: var(--bg-blue-1);
}

.symptom-list-no-symptoms span {
  padding-left: 8px;
}

/* 1. Head */
.head-symptoms-list-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  border-radius: var(--border-radius-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-white);
}

.head-symptoms-list {
  max-height: 220px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  background-color: var(--bg-white);
}

/* 2. Eyes */
.eyes-symptoms-list-box {
  position: absolute;
  top: 20px;
  right: 0;
  width: 300px;
  border-radius: var(--border-radius-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-white);
}

.eyes-symptoms-list {
  max-height: 220px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  background-color: var(--bg-white);
}

/* 3. Ears */
.ears-symptoms-list-box {
  position: absolute;
  top: 30px;
  right: 0;
  width: 300px;
  border-radius: var(--border-radius-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-white);
}

.ears-symptoms-list {
  max-height: 220px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  background-color: var(--bg-white);
}

/* 4. Nose */
.nose-symptoms-list-box {
  position: absolute;
  top: 30px;
  right: 0;
  width: 300px;
  border-radius: var(--border-radius-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-white);
}

.nose-symptoms-list {
  max-height: 220px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  background-color: var(--bg-white);
}

/* 5. Mouth */
.mouth-symptoms-list-box {
  position: absolute;
  top: 35px;
  right: 0;
  width: 300px;
  border-radius: var(--border-radius-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-white);
}

.mouth-symptoms-list {
  max-height: 220px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  background-color: var(--bg-white);
}

/* 6. Neck */
.neck-symptoms-list-box {
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  border-radius: var(--border-radius-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-white);
}

.neck-symptoms-list {
  max-height: 220px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  background-color: var(--bg-white);
}

/* 7. Chest */
.chest-symptoms-list-box {
  position: absolute;
  top: 70px;
  right: 0;
  width: 300px;
  border-radius: var(--border-radius-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-white);
}

.chest-symptoms-list {
  max-height: 220px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  background-color: var(--bg-white);
}

/* 8. UpperArm */
.upperArm-symptoms-list-box {
  position: absolute;
  top: 90px;
  right: 0;
  width: 300px;
  border-radius: var(--border-radius-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-white);
}

.upperArm-symptoms-list {
  max-height: 220px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  background-color: var(--bg-white);
}

/* 9. ForeArm */
.foreArm-symptoms-list-box {
  position: absolute;
  top: 140px;
  right: 0;
  width: 300px;
  border-radius: var(--border-radius-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-white);
}

.foreArm-symptoms-list {
  max-height: 220px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  background-color: var(--bg-white);
}

/* 10. MidAb */
.midAb-symptoms-list-box {
  position: absolute;
  top: 200px;
  right: 0;
  width: 300px;
  border-radius: var(--border-radius-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-white);
}

.midAb-symptoms-list {
  max-height: 220px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  background-color: var(--bg-white);
}

/* 11. LowerAbPrivate */
.lowerAbPrivate-symptoms-list-box {
  position: absolute;
  top: 240px;
  right: 0;
  width: 300px;
  border-radius: var(--border-radius-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-white);
}

.lowerAbPrivate-symptoms-list {
  max-height: 220px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  background-color: var(--bg-white);
}

/* 12. Hand */
.hand-symptoms-list-box {
  position: absolute;
  top: 260px;
  right: 0;
  width: 300px;
  border-radius: var(--border-radius-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-white);
}

.hand-symptoms-list {
  max-height: 220px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  background-color: var(--bg-white);
}

/* 13. Thigh */
.thigh-symptoms-list-box {
  position: absolute;
  top: 280px;
  right: 0;
  width: 300px;
  border-radius: var(--border-radius-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-white);
}

.thigh-symptoms-list {
  max-height: 220px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  background-color: var(--bg-white);
}

/* 14. Knee */
.knee-symptoms-list-box {
  position: absolute;
  top: 290px;
  right: 0;
  width: 300px;
  border-radius: var(--border-radius-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-white);
}

.knee-symptoms-list {
  max-height: 220px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  background-color: var(--bg-white);
}

/* 15. LowerLeg */
.lowerLeg-symptoms-list-box {
  position: absolute;
  top: 300px;
  right: 0;
  width: 300px;
  border-radius: var(--border-radius-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-white);
}

.lowerLeg-symptoms-list {
  max-height: 220px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  background-color: var(--bg-white);
}

/* 16. Foot */
.foot-symptoms-list-box {
  position: absolute;
  top: 310px;
  right: 0;
  width: 300px;
  border-radius: var(--border-radius-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--bg-white);
}

.foot-symptoms-list {
  max-height: 220px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  background-color: var(--bg-white);
}

/* Mobile right box */
.mobile-right-box {
  padding-bottom: 12px;
  width: 100%;
  height: 600px;
}

.mobile-selected-symp-box {
  display: none;
  width: 100%;
  height: auto;
  padding-bottom: 12px;
  border-radius: var(--border-radius-1);
  background-color: var(--bg-blue-3);
  box-shadow: var(--box-shadow-1);
}

.mobile-symp-background {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  touch-action: none;
  animation: slideleft 0.5s;
  z-index: 1200;
}

.mobile-symp-background-extra {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  position: fixed;
  background-color: white;
  touch-action: none;
  animation: slideright 0.5s;
}

.mobile-symptoms-list-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 16px 0;
  background-color: var(--bg-blue-6);
  font-size: 20px;
  color: var(--text-white-1);
  font-weight: var(--roboto-medium-weight);
}

.mobile-symptoms-list-header > button {
  position: absolute;
  left: 0;
  padding: 0;
  margin-left: 16px;
  border: none;
  font-size: 22px;
  color: var(--text-white-1);
  background-color: transparent;
}

/***** Mobile symptoms list *****/
.mobile-symptoms-list {
  background-color: var(--bg-white);
  width: 100%;
  border-radius: 6px;
  overflow-y: auto;
  height: calc(100% - 160px);
}

.mobile-symptoms-list-extra {
  background-color: var(--bg-white);
  width: 100%;
  border-radius: 6px;
  overflow-y: auto;
  height: calc(100% - 160px);
}

@keyframes slideleft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideright {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(0%);
  }
}

.mobile-symptoms-list > button {
  width: 100%;
  padding: 16px 28px;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  background-color: #ffffff;
  display: flex;
  font-size: 20px;
  font-weight: var(--roboto-medium-weight);
}

.mobile-symptoms-list button > i {
  margin-left: auto;
}

.mobile-symp-list-button {
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  padding: 28px;
  background-color: var(--bg-white);
}

.mobile-symp-list-button button {
  width: 100%;
  padding: 8px 12px;
  color: var(--text-blue-2);
  border: 1px solid var(--text-blue-2);
  border-radius: var(--border-radius-1);
  background-color: var(--bg-white);
  font-weight: var(--roboto-medium-weight);
}

/* Step 3 */
.symp-checkbox {
  width: fit-content;
  box-shadow: rgba(67, 71, 85, 0.5) 0px 0px 0.1em,
    rgba(90, 125, 188, 0.05) 0px 0.1em 1em;
  margin-right: 20px;
  margin-bottom: 16px;
  padding: 0;
  border-radius: 100px;
}

.symp-checkbox .symp-checkbox-label {
  display: flex;
  padding: 8px;
  user-select: none;
}

.symp-checkbox.checked {
  outline: 1px solid var(--border-gray-2);
  background-color: #f0f0f0;
}

/* Final results - Step 4 */
.symp-step-4 {
  display: flex;
  padding-top: 28px;
}

.symp-step-4 .disease-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 600px;
  padding-bottom: 8px;
}

.symp-step-4 .disease-list h6 {
  padding: 20px 0 8px;
  font-size: 18px;
  font-weight: var(--roboto-regular-weight);
}

.disease-list .disease-list-item {
  position: relative;
  cursor: pointer;
  width: 95%;
  padding: 8px;
  background-color: #ecf5ff;
  border: 1px solid var(--border-gray-1);
  border-radius: var(--border-radius-1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.disease-list .disease-list-item .progress {
  height: 0.6rem;
  background-color: var(--bg-white);
}

.disease-list .disease-list-item p:first-child {
  font-weight: var(--roboto-medium-weight);
}

.disease-list .disease-list-item p:nth-child(2) {
  color: var(--text-dark-body);
}

.disease-list .disease-list-item p:nth-child(3) {
  color: var(--text-dark-body);
}

.disease-list .disease-list-item img {
  position: absolute;
  top: 50%;
  right: 24px;
  width: 30px;
  transform: translateY(-50%);
}

.disease-list .disease-list-item:hover {
  background-color: #dbe4ee;
}

.disease-list .disease-list-item.active {
  background-color: #dbe4ee;
  outline: 1px solid var(--border-gray-2);
}

.disease-list .disease-list-item.active .selected-disease {
  position: absolute;
  top: 50%;
  right: 24px;
  color: var(--text-green-1);
  font-weight: var(--roboto-medium-weight);
  transform: translateY(-50%);
}

.disease-list .disease-list-item:not(:first-child) {
  margin-top: 12px;
  margin-left: 4px;
}

.symp-step-4 .main-article-wrapper {
  position: relative;
  height: 100%;
  padding: 16px 12px 28px 12px;
}

.main-article-title {
  text-align: center;
}

.main-article-title h5 {
  color: var(--text-blue-3);
}

.main-article-subtitle {
  padding-top: 12px;
  font-size: 20px;
  font-weight: var(--roboto-medium-weight);
}

.main-article-wrapper .main-article-overview,
.main-article-wrapper .main-article-treatment {
  color: var(--text-dark-sub-header);
}

.main-article-wrapper .main-article-treatment {
  padding-top: 24px;
}

.main-article-detail {
  padding-top: 8px;
  color: var(--text-dark-body);
}

.other-articles > h6 {
  font-size: 18px;
  font-weight: var(--roboto-regular-weight);
}

.m-disease-list {
  display: none;
}

.m-back-list {
  display: none;
}

/* Standard tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Step 2 */
  .symp-checker h3 {
    padding-top: 80px;
  }

  .symp-checker-board {
    padding: 8px;
  }

  .symp-checker-board .card {
    padding: 4px;
    border: none;
    box-shadow: none;
  }

  .symp-big-box {
    display: none;
  }

  .symp-left-box {
    width: 100% !important;
    display: none;
  }

  .search-symp-display {
    max-height: calc(100% - 250px) !important;
  }

  .symp-right-box {
    display: none;
  }

  .human-figure {
    height: 100%;
    width: 100%;
    margin-left: 0;
  }

  .m-symp-name {
    display: block;
  }

  .active-switch-button {
    color: var(--text-white-1);
    background-color: var(--btn-blue-1);
  }

  .switch-button {
    display: block;
    width: 100%;
    height: 48px;
    margin-bottom: 12px;
  }

  .switch-button button {
    width: 50%;
    height: 100%;
    border: none;
  }

  .switch-button button:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .switch-button button:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .left-box-wrapper {
    height: 50%;
  }

  .mobile-search-background {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1200;
    animation: slideleft 0.5s;
  }

  .mobile-add-symp-wrapper {
    display: block;
  }

  .add-symp-btn {
    display: flex;
    justify-content: center;
  }

  .add-symp-btn > button {
    color: var(--text-white-1);
    background-color: #004ad3;
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    font-weight: var(--roboto-regular-weight);
  }

  .add-symp-btn button span {
    padding-right: 8px;
  }

  .mobile-add-symp-wrapper .selected-symp-box {
    position: relative !important;
  }

  .search-symp-input {
    display: none;
  }

  .mobile-search-symp-input {
    display: block;
    position: relative;
    padding: 16px 12px 4px 16px;
  }

  .mobile-search-symp-input input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border-radius: 4px;
    border: 1px solid #5ca8ff;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.06);
  }

  .mobile-search-symp-input .search-symp-button {
    padding: 26px 20px 0 0;
  }

  .mobile-search-symp-btn {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    padding: 28px;
    background-color: var(--bg-white);
  }

  .mobile-search-symp-btn button {
    width: 100%;
    padding: 8px 12px;
    color: var(--text-blue-2);
    border: 1px solid var(--text-blue-2);
    border-radius: var(--border-radius-1);
    background-color: var(--bg-white);
    font-weight: var(--roboto-medium-weight);
  }

  .symptom-button {
    padding: 12px 16px;
  }

  .selected-symp-item {
    padding: 6px 4px 6px 24px;
  }

  .selected-symp-item .selected-symp-name {
    font-size: 18px;
  }

  .selected-symp-item button {
    width: 40px;
    height: 100%;
  }

  .mobile-selected-symp-box {
    margin-top: 24px;
    display: block;
  }

  .selected-symp-box-wrapper {
    max-height: none;
    overflow-y: unset;
  }

  /* Step 4 */
  .main-article {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .symp-step-4 {
    flex-direction: column;
  }

  .symp-step-4 .disease-list {
    display: none;
  }

  .symp-step-4 .main-article-wrapper {
    padding: 16px 0 28px;
  }

  .m-disease-list {
    position: fixed;
    margin-top: 58px;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 58px);
    z-index: 10;
    display: block;
    visibility: visible;
    transition: top 0.4s ease-in-out, opacity 0.3s ease-in-out;
  }

  .m-disease-list.hide {
    top: 80%;
    opacity: 0;
    pointer-events: none;
  }

  .m-disease-list h6 {
    text-align: center;
    padding: 16px 0;
    font-size: 18px;
    color: var(--text-white-1);
    font-weight: var(--roboto-regular-weight);
    background-color: var(--bg-blue-2);
  }

  .m-disease-list .m-disease-list-item {
    position: relative;
    cursor: pointer;
    padding: 8px;
    margin: 4px;
    background-color: #ecf5ff;
    border: 1px solid var(--border-gray-1);
    box-shadow: var(--box-shadow-1);
  }

  .m-disease-list .m-disease-list-item p:first-child {
    font-weight: var(--roboto-medium-weight);
  }

  .m-disease-list .m-disease-list-item p:nth-child(2) {
    color: var(--text-dark-body);
  }

  .m-disease-list .m-disease-list-item p:nth-child(3) {
    color: var(--text-dark-body);
  }

  .m-disease-list .m-disease-list-item img {
    position: absolute;
    top: 50%;
    right: 24px;
    width: 30px;
    transform: translateY(-50%);
  }

  .m-back-list {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--text-white-1);
    background-color: var(--bg-blue-2);
    z-index: 10;
    border: none;
  }

  .m-back-list div {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
  }

  .m-disease-close {
    position: absolute;
    color: var(--text-white-1);
    background-color: var(--bg-blue-2);
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    border: none;
  }

  .m-disease-list .m-disease-list-item .progress {
    height: 0.6rem;
    background-color: var(--bg-white);
  }
}

/* Mobile responsive */
@media only screen and (max-width: 767px) {
  /* Symptom Checker */
  /* Step 1 */
  .symp-checker {
    background-color: transparent;
    padding-bottom: 80px;
  }

  .symp-checker h3 {
    padding-top: 80px;
  }

  .symp-checker h4 {
    font-size: 24px;
    font-weight: var(--roboto-regular-weight);
  }

  .symp-checker-board {
    padding: 0;
  }

  .steps-info-section {
    padding: 32px;
  }

  .steps-info-section h5 {
    font-size: 16px;
    font-weight: var(--roboto-medium-weight);
    padding: 0;
  }

  .symp-checker-board form {
    padding: 0;
  }

  .select-age {
    width: 100%;
    padding: 0;
    margin-top: 12px;
  }

  .select-age input {
    width: 60%;
  }

  .select-gender {
    width: 100%;
    padding: 0;
    margin-top: 12px;
  }

  .select-gender select {
    width: 60%;
  }

  .symp-checker-steps {
    padding: 16px 0 8px 0;
  }

  .symp-checker-steps h2 {
    font-size: 20px;
    padding: 8px 0 4px 0;
  }

  .symp-checker-steps h6 {
    font-size: 18px;
    padding: 12px 0 4px 0;
  }

  .symp-checker-steps p {
    padding: 2px 0;
  }

  .progress-bar-step {
    display: none;
  }

  .steps-button-wrapper {
    justify-content: space-between;
    padding: 8px 16px;
  }

  .steps-back-button {
    width: 45%;
  }

  .steps-back-button button {
    width: 100%;
  }

  .steps-next-button {
    padding-left: 0;
    width: 45%;
  }

  .steps-next-button button {
    width: 100%;
  }

  /* Step 2 */
  .human-figure {
    height: 100%;
    width: 100%;
    margin-left: 0;
  }

  .m-symp-name {
    display: block;
  }

  .active-switch-button {
    color: var(--text-white-1);
    background-color: var(--btn-blue-1);
  }

  .switch-button {
    display: block;
    width: 100%;
    height: 48px;
    margin-bottom: 12px;
  }

  .switch-button button {
    width: 50%;
    height: 100%;
    border: none;
  }

  .switch-button button:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .switch-button button:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .left-box-wrapper {
    height: 50%;
  }

  .mobile-search-background {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1200;
    animation: slideleft 0.5s;
  }

  .mobile-add-symp-wrapper {
    display: block;
  }

  .add-symp-btn {
    display: flex;
    justify-content: center;
  }

  .add-symp-btn > button {
    color: var(--text-white-1);
    background-color: #004ad3;
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    font-weight: var(--roboto-regular-weight);
  }

  .add-symp-btn button span {
    padding-right: 8px;
  }

  .mobile-add-symp-wrapper .selected-symp-box {
    position: relative !important;
  }

  .search-symp-input {
    display: none;
  }

  .mobile-search-symp-input {
    display: block;
    position: relative;
    padding: 16px 12px 4px 16px;
  }

  .mobile-search-symp-input input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border-radius: 4px;
    border: 1px solid #5ca8ff;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.06);
  }

  .mobile-search-symp-input .search-symp-button {
    padding: 26px 20px 0 0;
  }

  .mobile-search-symp-btn {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    padding: 28px;
    background-color: var(--bg-white);
  }

  .mobile-search-symp-btn button {
    width: 100%;
    padding: 8px 12px;
    color: var(--text-blue-2);
    border: 1px solid var(--text-blue-2);
    border-radius: var(--border-radius-1);
    background-color: var(--bg-white);
    font-weight: var(--roboto-medium-weight);
  }

  .symptom-button {
    padding: 12px 16px;
  }

  .selected-symp-item {
    padding: 6px 4px 6px 24px;
  }

  .selected-symp-item .selected-symp-name {
    font-size: 18px;
  }

  .selected-symp-item button {
    width: 40px;
    height: 100%;
  }

  .mobile-selected-symp-box {
    margin-top: 24px;
    display: block;
  }

  .selected-symp-box-wrapper {
    max-height: none;
    overflow-y: unset;
  }

  .symp-checker-board .card {
    padding: 4px;
    border: none;
    box-shadow: none;
  }

  .symp-big-box {
    display: none;
  }

  .symp-left-box {
    width: 100% !important;
    display: none;
  }

  .search-symp-display {
    max-height: calc(100% - 250px) !important;
  }

  .symp-right-box {
    display: none;
  }

  /* Step 3 */
  .symp-checkbox {
    padding: 6px 12px;
    margin: 0 0 8px;
  }

  /* Step 4 */
  .symp-step-4 {
    flex-direction: column;
  }

  .symp-step-4 .disease-list {
    display: none;
  }

  .symp-step-4 .main-article-wrapper {
    padding: 16px 0 28px;
  }

  .m-disease-list {
    position: fixed;
    margin-top: 58px;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 58px);
    z-index: 10;
    display: block;
    visibility: visible;
    transition: top 0.4s ease-in-out, opacity 0.3s ease-in-out;
  }

  .m-disease-list.hide {
    top: 80%;
    opacity: 0;
    pointer-events: none;
  }

  .m-disease-list h6 {
    text-align: center;
    padding: 16px 0;
    font-size: 18px;
    color: var(--text-white-1);
    font-weight: var(--roboto-regular-weight);
    background-color: var(--bg-blue-2);
  }

  .m-disease-list .m-disease-list-item {
    position: relative;
    cursor: pointer;
    padding: 8px;
    margin: 4px;
    background-color: #ecf5ff;
    border: 1px solid var(--border-gray-1);
    box-shadow: var(--box-shadow-1);
  }

  .m-disease-list .m-disease-list-item p:first-child {
    font-weight: var(--roboto-medium-weight);
  }

  .m-disease-list .m-disease-list-item p:nth-child(2) {
    color: var(--text-dark-body);
  }

  .m-disease-list .m-disease-list-item p:nth-child(3) {
    color: var(--text-dark-body);
  }

  .m-disease-list .m-disease-list-item img {
    position: absolute;
    top: 50%;
    right: 24px;
    width: 30px;
    transform: translateY(-50%);
  }

  .m-back-list {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--text-white-1);
    background-color: var(--bg-blue-2);
    z-index: 10;
    border: none;
  }

  .m-back-list div {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
  }

  .m-disease-close {
    position: absolute;
    color: var(--text-white-1);
    background-color: var(--bg-blue-2);
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    border: none;
  }

  .m-disease-list .m-disease-list-item .progress {
    height: 0.6rem;
    background-color: var(--bg-white);
  }
}
