/* Blogs/News & Insights Page */
.blog-list h1 {
  padding: 20px 0 40px;
  color: var(--text-blue-1);
  font-size: 36px;
  font-weight: var(--roboto-medium-weight);
}

.blog-list-filter {
  width: 25%;
  height: fit-content;
  padding: 20px 20px;
  border-radius: var(--border-radius-1);
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow-4);
}

.blog-list-filter-wrapper h5 {
  font-size: 18px;
  font-weight: var(--roboto-medium-weight);
  padding-bottom: 16px;
}

.blog-list-filter-wrapper form label {
  padding-left: 8px;
  font-size: 16px;
  font-weight: var(--roboto-regular-weight);
}

.blog-list-filter-wrapper form div:not(:last-child) {
  padding-bottom: 8px;
}

.blog-list-filter-btn {
  padding-top: 16px;
  text-align: center;
}

.blog-list-filter-btn button {
  width: 80%;
  text-decoration: none;
  color: var(--text-dark-1);
  background-color: #fff;
  border: 1px solid #d9d9d6;
  border-radius: var(--border-radius-1);
  font-size: 16px;
  display: inline-block;
  padding: 4px 0;
  font-weight: var(--roboto-regular-weight);
}

.blog-list-filter-btn button:hover {
  background-color: var(--btn-light-hover-1);
}

.blog-list-items {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-left: 16px;
}

.blog-list-items-wrapper > span {
  display: block;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: var(--roboto-regular-weight);
}

.blog-list-item {
  display: flex;
}

.blog-list-item {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #bdbdbd;
}

.blog-thumbnail-img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.blog-thumbnail-img img {
  width: 100%;
  height: 140px;
}

.blog-link-and-intro {
  padding-left: 24px;
}

.blog-link-and-intro div a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-dark-header);
  font-size: 20px;
  font-weight: var(--roboto-medium-weight);
}

.blog-list-item .blog-link-and-intro a:first-child:hover {
  color: var(--btn-blue-hover-2);
  text-decoration: underline;
  transition: color 0.2s;
}

.blog-link-and-intro a:nth-child(2) {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  font-weight: var(--roboto-medium-weight);
}

.blog-link-and-intro span {
  display: block;
  padding-top: 8px;
  color: var(--text-dark-1);
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-pagination {
  width: 100%;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.m-open-filter-btn {
  display: none;
}

.m-blog-list-filter {
  display: none;
}

/* For individual blog */
.blog-img {
  width: 100%;
  display: block;
  text-align: center;
  padding: 24px 0 32px 0;
}

.blog-img img {
  width: 100%;
}

.individual-blog {
  padding-top: 16px !important;
  display: flex;
}

.individual-blog .individual-blog-headline {
  width: 60%;
}

.individual-blog .individual-blog-content {
  display: flex;
}

.individual-blog .individual-blog-content .blog-content {
  width: 60%;
}

.individual-blog .related-blogs {
  height: 400px;
  width: 40%;
  background-color: antiquewhite;
}

.individual-blog .blog-tag {
  display: inline-block;
  text-decoration: none;
  padding-top: 4px;
  font-size: 14px;
  font-weight: var(--roboto-medium-weight);
}

.individual-blog .blog-author-info {
  display: flex;
  border-radius: 6px;
  padding: 10px 0;
  margin: 0 0 8px 0;
  border-bottom: 1px solid #d9d9d6;
}

.individual-blog .blog-author-info div {
  display: block;
  font-weight: var(--roboto-regular-weight);
}

.individual-blog .blog-author-info div div span {
  font-weight: var(--roboto-medium-weight);
}

.individual-blog h4 {
  padding: 32px 0 4px;
}

.individual-blog p {
  color: var(--text-dark-sub-header);
  padding: 8px 0;
}

.individual-blog ul {
  color: var(--text-dark-sub-header);
  padding-left: 40px;
}

.individual-blog ol {
  color: var(--text-dark-sub-header);
  padding-left: 40px;
}

/* Mobile phone */
@media only screen and (max-width: 767px) {
  /* Mobile blogs filter */
  .blog-list-filter {
    display: none;
  }

  .m-open-filter-btn {
    display: block;
    width: 100%;
    padding: 8px 12px;
    border: none;
    color: var(--text-white-1);
    background-color: var(--btn-blue-2);
    border-radius: var(--border-radius-1);
    font-weight: var(--roboto-regular-weight);
  }

  .m-blog-list-filter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100%);
    z-index: 1001;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow-4);
    animation: open 0.1s ease-in;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    touch-action: none;
  }

  .m-blog-list-filter.active {
    display: block;
    visibility: visible;
  }

  @keyframes open {
    from {
      scale: 0.95;
      opacity: 0;
    }
    to {
      scale: 1;
      opacity: 1;
    }
  }

  .m-blog-list-filter-wrapper div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 16px 0;
    background-color: var(--bg-blue-6);
    font-size: 20px;
    color: var(--text-white-1);
    font-weight: var(--roboto-medium-weight);
  }

  .m-blog-list-filter-wrapper div:first-child button {
    position: absolute;
    left: 0;
    padding: 0;
    margin-left: 16px;
    border: none;
    font-size: 22px;
    color: var(--text-white-1);
    background-color: transparent;
  }

  .m-blog-list-filter-wrapper form {
    padding: 20px 20px 40px;
  }

  .m-blog-list-filter-wrapper form h6 {
    padding-bottom: 16px;
    font-size: 20px;
  }

  .m-blog-list-filter-wrapper form input[type="checkbox"] {
    transform: scale(1.1);
  }

  .m-blog-list-filter-wrapper form label {
    padding-left: 12px;
    font-size: 18px;
    font-weight: var(--roboto-regular-weight);
  }

  .m-blog-list-filter-wrapper form div {
    padding-left: 4px;
  }

  .m-blog-list-filter-wrapper form div:not(:last-child) {
    padding-bottom: 12px;
  }

  .m-blog-list-filter-wrapper .m-blog-list-filter-btn {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .m-blog-list-filter-btn button:first-child {
    width: 30%;
    text-decoration: none;
    color: var(--text-dark-1);
    background-color: #fff;
    border: 1px solid #d9d9d6;
    border-radius: var(--border-radius-1);
    font-size: 16px;
    display: inline-block;
    padding: 4px 0;
    font-weight: var(--roboto-regular-weight);
  }

  .m-blog-list-filter-btn button:last-child {
    width: 65%;
    padding: 8px 12px;
    background-color: var(--btn-blue-1);
    border-radius: var(--border-radius-1);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: var(--text-white-1);
    font-weight: var(--roboto-regular-weight);
  }

  .blog-list-items-wrapper {
    padding-top: 36px;
  }

  .blog-list-items-wrapper > span {
    display: none;
  }

  /* Blogs/News */
  .blog-list h1 {
    font-size: 28px;
    padding: 82px 0 24px;
  }

  .blog-list-items {
    width: 100%;
    padding: 0;
  }

  .blog-list-item {
    flex-direction: column;
  }

  .blog-link-and-intro {
    display: none;
  }

  .blog-thumbnail-img {
    display: none;
  }

  .mobile-blog-link {
    display: block !important;
    line-height: 1.2;
    padding-bottom: 16px;
  }

  .mobile-blog-link a {
    text-decoration: none;
    color: var(--text-dark-header);
    font-size: 20px;
    font-weight: var(--roboto-medium-weight);
  }

  .mobile-blog-img-and-intro {
    display: block !important;
  }

  .mobile-blog-thumbnail-img {
    display: inline-block;
    width: 40%;
    height: 100%;
  }

  .mobile-blog-thumbnail-img img {
    width: 100%;
    height: 105px;
  }

  .mobile-blog-intro {
    padding-left: 8px;
    width: 60%;
  }

  .mobile-blog-intro a {
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    font-weight: var(--roboto-medium-weight);
  }

  .mobile-blog-intro span {
    font-size: 14px;
    color: var(--text-dark-1);
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
  }

  .individual-blog {
    padding-top: 28px;
  }

  .individual-blog h4 {
    display: block;
  }

  .individual-blog .blog-img {
    padding: 18px 0 24px 0;
  }

  .individual-blog .blog-img img {
    width: 90%;
  }
}
